.cardOrigem {
background-color: rgb(194, 52, 52);
border-radius: 8px;
box-shadow: grey 2px 2px 10px;
color: #e5e3e2;
margin-bottom: 10px;
margin-top: 10px;
width: 160px;
}

.titleOrigem {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-left: 10px;
  height: 80px;
}

.selectOrigem {
  border-style: none;
  color: rgb(194, 52, 52);
  background-color: #FFFFFF;
  font-weight: 600;
}
